body {
    background-color: #333;
}

.app {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.hero {
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #cbbbf0;
    font-family: Arial;
}

.hero h1,
.hero p {
    align-self: center;
}

.image-counter {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.image-counter img:hover {
    cursor: pointer;
}

.count {
    font-size: 32px;
    margin-left: 10px;
}